* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px auto;
  padding: 16px;
}
.navbar-list {
  display: flex;
  gap: 42px;
}
.navbar-list a {
  text-decoration: none;
  color: #323232;
}
.navbar-list .active {
  font-weight: 700;
  color: #f78434;
}
.row {
  display: flex;
}
.col {
  max-width: 50%;
}
.main-heading {
  font-size: 54px;
  line-height: 1.5;
  margin-top: 127px;
  position: relative;
  width: 640px;
}
.text {
  line-height: 1.5;
}
.intro-form {
  overflow: hidden;
  position: relative;
  max-width: 460px;
  margin-top: 50px;
}
.btn {
  background-color: #f78434;
  font-family: 700;
  color: white;
  font-size: 16px;
  display: inline-block;
  padding: 20px 37px;
  border-radius: 29px;
  cursor: pointer;
  border: 0;
  text-decoration: none;
}
.intro-form .btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.intro-form-text {
  border: 0;
  padding: 20px 72px;
  font-size: 16px;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  opacity: 0.4;
  outline: none;
  width: 100%;
}
.email-icon {
  position: absolute;
  left: 25px;
  top: 20px;
}
/* block second */
.logo-offer {
  margin-top: 100px;
  margin-bottom: 100px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1280px) {
  .container {
    flex-wrap: nowrap;
  }
  .navbar {
    margin-left: 10%;
    max-width: 100%;
  }
  .navbar-nav {
    margin: 5% auto;
    min-width: 100%;
  }
  .navbar-list {
    margin-left: 10%;
    max-width: 100%;
  }
  .logo {
    margin-left: 10%;
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .container {
    flex-wrap: nowrap;
  }
  .navbar {
    margin-left: 0%;
    max-width: 100%;
  }
  .navbar-nav {
    margin: 5% auto;
    min-width: 100%;
  }
  .navbar-list {
    margin-left: 10%;
    max-width: 100%;
  }
  .intro-sect {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 50%;
  }
  .intro-form .btn {
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    transform: translateY(0%);
  }
  .logo {
    margin-left: 0%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 0%;
  }
  .navbar-img {
    margin-left: 0%;
  }
  .row {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .col {
    max-width: 100%;
  }
  .main-heading {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    font-size: 24px;
    line-height: 1.5;
    width: 100%;
    margin: 0;
  }
  .intro-form .btn {
    display: flex;
    margin: 0 auto;
  }
  .intro-form {
    max-width: 100%;
  }
  .col-img {
    width: 100%;
  }
  .intro-img {
    width: 100%;
  }
  .text {
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .intro-sect {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -20%;
    line-height: 3.5;
  }
}

/* block second */
.row-offer{
	display: flex;
	max-width: 100%;
	align-items: center;
}
.col-img-two{
	display: flex;
	max-width: 50%;
	margin-left: -25%;
	

}
.img-lake{
	margin-left: 5%;
}
.callout-offer{
	background-color: #FFFFFF;
    border-radius: 15px;
    margin: 0;
    min-width: 30%;
    margin-top: 22%;
    margin-left: -8px;

	
}
.third-heaing-offer{
	font-size: 16px;
	margin: 0;
	padding: 30px 0 0 107px;
	line-height: 1.5;
	
}
.text-lake{
	margin: 0;
	font-size: 16px;
	padding: 0px 30px 30px 107px;
	line-height: 1.5;
}
.img-icon-small{
	margin-bottom: -28%;
   margin-left: 10%;
}
.col-offer{
	display: flex;
	flex-direction: column;
	margin-left: 13%;
}
.second-heading-offer{
	font-size: 42px;
	line-height: 1.5;
}
.text-col-offer{
	font-size: 16px;
	line-height: 1.5;
}